/* Estilos generales */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Arial', sans-serif;
}

body {
    background-color: #f4f4f4;
    color: #333;
    text-align: center;
    line-height: 1.6;
}

h1, h2 {
    color: #333;
    font-size: 2.5rem;
    margin-bottom: 20px;
}

/* Header */
header {
    background-image: url('images/header.jpeg');
    background-size: cover;
    background-position: center;
    height: 427px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    padding-top: 30px; /* Asegurar que el contenido no quede tapado */
}

header h1 {
    font-size: 3rem;
    color: white;
    font-weight: bold;
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.7); /* Sombra para hacerlo más visible */

/*audio {
    position: absolute;
    bottom: 20px;
    right: 20px;
}


/* Estilo de la sección de detalles */
#detalles {
    background-color: #fff;
    padding: 40px 20px;
}

#detalles h2 {
    font-size: 2rem;
    color: #2c3e50;
    margin-bottom: 20px;
}

#detalles p {
    font-size: 1.2rem;
    color: #7f8c8d;
}

/* Efecto en el texto de la sección de detalles */
#detalles p strong {
    color: #e67e22;
    text-transform: uppercase;
    font-weight: bold;
}

/* Cuenta regresiva */
#cuenta-regresiva {
    background-color: #ecf0f1;
    padding: 40px 20px;
}

#contador {
    font-size: 2rem;
    color: #e74c3c;
    font-weight: bold;
}

/* Estilo de la galería */
#galeria {
    padding: 40px 20px;
}

#galeria img {
    width: 100%;
    max-width: 500px;
    margin: 0 auto;
    display: block;
}

/* Mapa */
#mapa {
    padding: 40px 20px;
}

#mapa iframe {
    width: 100%;
    max-width: 600px;
    height: 300px;
    border: none;
}

/* Footer */
footer {
    background-image: url('images/footer.jpeg');
    background-size: cover;
    background-position: center;
    height: 855px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
    text-align: center;
}

footer h2 {
    font-size: 2rem;
    font-weight: bold;
}

/* Reproductor de música y botón PLAY */
audio {
    display: none;
}

audio + .play-button {
    background-color: #e74c3c;
    color: white;
    border: none;
    padding: 15px 30px;
    font-size: 1.5rem;
    cursor: pointer;
    border-radius: 5px;
    transition: background-color 0.3s ease;
    z-index: 100; /* Aseguramos que el botón de Play esté por encima de todo */
}

audio + .play-button:hover {
    background-color: #c0392b;
}

audio + .play-button:active {
    background-color: #e74c3c;
}